<nav class="navbar navbar-expand-md navbar-light bg-light px-3" id="navbar">
  <img src="../../../assets/transparent-logo.png" alt="" class="img-fluid" routerLink="/home">

  <button class="navbar-toggler" type="button" aria-label="Toggle navigation" (click)="toggleNavbar()" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [class.show]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us">About Us</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
             (click)="toggleDropdown($event)"
             [class.active]="isDropdownOpen"
             role="button">
            Certification Programs
          </a>
        <ul class="dropdown-menu" [class.show]="isDropdownOpen">
          <li><a class="dropdown-item" routerLink="/platinum-package">Platinum Packages</a></li>
          <li><a class="dropdown-item" routerLink="/gold-package">Gold Packages</a></li>
          <li><a class="dropdown-item" routerLink="/program-page">Program Packages</a></li>
          <li><a class="dropdown-item" routerLink="/business-builder">Business Builders</a></li>
          <li><a class="dropdown-item" routerLink="/leadership-certificates">Sales Leadership Certificates</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/instructor">Instructors</a>
      </li>
    </ul>

    <div class="d-flex flex-wrap justify-content-end">
      <button class="btn btn-outline me-2" routerLink="/signup">Register</button>
      <button class="btn btn-outline signup" routerLink="/login">Sign In</button>
    </div>
  </div>
</nav>