<div class="main">
    <div class="contant">
        <p>Download our Free Coaching e-Book and Begin Your Certification Now!</p>
        <button>    
            <a href="../../../assets/coaching e-book.pdf" target="_blank" class="ebook-button">
                Download Free e-Book
            </a>
        </button>

    </div>
</div>

<div class="background-content">
  <app-navbar></app-navbar>

  <div class="hero">
    <div class="left">
      <div class="contant">
        <div class="empower-line-wrapper">
          <h2>Empower</h2>
          <img src="../../../../assets/curved-line.PNG" alt="" class="empower-line">
        </div>

        <div class="your-line-wrapper">
          <h2>
            <span class="your">Your</span>
            <span class="future">Future</span>
          </h2>
        </div>
        <p>The M.E.C. Executive Coaching Certification 
          <button routerLink="/live-session">Get Started</button>
        </p>
        
      </div>
    </div>
    <div class="right">
      <img src="../../assets/empower_right.png" alt="">
    </div>
  </div>
</div>

<div class="cards">
    <div class="card-content card1">
        <p>Watch our short intro video to explore how our <br> platform makes earning your Executive Coaching <br> Certification seamless, engaging, and transformative.</p>
         <a href="https://youtu.be/Ktw2Ssdi7Co?si=V0vHXPGz9KT8uGKX " target="_blank" style="text-decoration: none;">
        <button>
            <img src="../../../assets/play-button.PNG" alt="" class="play-button"> 
            <label>View Video</label>
        </button>
       </a>
    </div>
    <div class="card-content card2">
        <p>Seize the opportunity to become a certified <br> executive coach with guidance from ICF- <br> certified Fortune 500 experts.</p>
        <button routerLink="/about-us">Learn How</button>
    </div>
    <div class="card3">
        <!-- <div class="images"> -->
            <img src="../../../assets/reviewers.PNG" alt="">
        <!-- </div> -->

        <p><span>2K+</span><label>Student</label> Reviewed  <br>worldwide</p>
    </div>
</div>

<app-vertual></app-vertual>


