<div class="vertual">
  <div class="contant">
    <h4>Next 3-Day Live Virtual Intensive Seminar – April 10, 2025</h4>
    <p>
      This is <strong>not just an informational webinar</strong> — it's a full 3-day immersive seminar experience. 
    Join us live and engage in highly interactive, hands-on sessions led by top industry experts. 
    Dive deep, ask questions in real-time, participate in guided activities, and get practical insights you can apply immediately.
    </p>
  </div>

  <div class="days">
    <h2 class="day-text">Only Two Days Left!</h2>
    <div class="count">
      <div class="day text-center">
        <h2>03</h2>
        <p>Days</p>
      </div>
      <div class="line"></div>
      <div class="hours text-center">
        <h2>05</h2>
        <p>Hours</p>
      </div>
      <div class="line"></div>
      <div class="minutes text-center">
        <h2>10</h2>
        <p>Minutes</p>
      </div>
      <div class="line"></div>
      <div class="seconds text-center">
        <h2>34</h2>
        <p>Seconds</p>
      </div>
    </div>
  </div>

  <button routerLink="/live-session">Secure Your Spot</button>
</div>
